.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.936035;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.936035;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(25,27,14),0 0.015em rgb(25,27,14),0.015em 0 rgb(25,27,14),0 -0.015em  rgb(25,27,14);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(25,27,14);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._8{margin-left:-2337.737344px;}
._7{margin-left:-11.429760px;}
._0{margin-left:-5.185728px;}
._6{margin-left:-2.868480px;}
._1{margin-left:-1.382400px;}
._3{width:1.054656px;}
._5{width:2.113728px;}
._2{width:3.133440px;}
._4{width:4.330560px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(25,27,14);}
.fs9{font-size:48.000000px;}
.fse{font-size:60.480000px;}
.fsf{font-size:60.576000px;}
.fs7{font-size:64.320000px;}
.fs8{font-size:64.416000px;}
.fsb{font-size:72.000000px;}
.fsa{font-size:72.096000px;}
.fs4{font-size:79.680000px;}
.fs5{font-size:79.776000px;}
.fs1{font-size:92.160000px;}
.fs2{font-size:92.256000px;}
.fs10{font-size:96.000000px;}
.fs11{font-size:127.680000px;}
.fsc{font-size:144.000000px;}
.fsd{font-size:144.096000px;}
.fs3{font-size:175.776000px;}
.fs6{font-size:192.000000px;}
.fs0{font-size:288.096000px;}
.y0{bottom:0.000000px;}
.y35{bottom:42.816000px;}
.y34{bottom:63.216000px;}
.y33{bottom:83.400000px;}
.y1f{bottom:87.744000px;}
.y32{bottom:103.800000px;}
.y1e{bottom:109.370000px;}
.y31{bottom:124.200000px;}
.y1d{bottom:131.210000px;}
.y30{bottom:144.620000px;}
.y10{bottom:145.200000px;}
.y1c{bottom:152.830000px;}
.y2f{bottom:164.780000px;}
.yf{bottom:167.760000px;}
.y3{bottom:170.710000px;}
.y1b{bottom:174.670000px;}
.y2e{bottom:185.180000px;}
.ye{bottom:190.340000px;}
.y1a{bottom:196.270000px;}
.y2{bottom:201.460000px;}
.y2d{bottom:205.610000px;}
.yd{bottom:212.900000px;}
.y19{bottom:217.900000px;}
.y2c{bottom:226.010000px;}
.yc{bottom:235.490000px;}
.y18{bottom:239.740000px;}
.y2b{bottom:246.190000px;}
.y1{bottom:254.090000px;}
.yb{bottom:258.050000px;}
.y17{bottom:261.360000px;}
.y21{bottom:266.470000px;}
.y2a{bottom:266.590000px;}
.y16{bottom:283.200000px;}
.y29{bottom:286.990000px;}
.ya{bottom:292.630000px;}
.y15{bottom:304.800000px;}
.y28{bottom:307.420000px;}
.y9{bottom:315.190000px;}
.y23{bottom:319.940000px;}
.y14{bottom:326.420000px;}
.y27{bottom:327.580000px;}
.y8{bottom:337.780000px;}
.y3c{bottom:344.980000px;}
.y3d{bottom:346.800000px;}
.y13{bottom:348.260000px;}
.y7{bottom:360.340000px;}
.y26{bottom:368.690000px;}
.y12{bottom:369.890000px;}
.y6{bottom:382.900000px;}
.y25{bottom:404.950000px;}
.y5{bottom:405.480000px;}
.y11{bottom:419.980000px;}
.y3b{bottom:421.560000px;}
.y3a{bottom:440.760000px;}
.y24{bottom:441.220000px;}
.y4{bottom:445.390000px;}
.y39{bottom:459.980000px;}
.y38{bottom:479.180000px;}
.y20{bottom:493.060000px;}
.y36{bottom:495.700000px;}
.y37{bottom:498.410000px;}
.y22{bottom:511.440000px;}
.ha{height:36.000000px;}
.hf{height:45.360000px;}
.h10{height:45.432000px;}
.h8{height:48.240000px;}
.h9{height:48.312000px;}
.hc{height:54.000000px;}
.hb{height:54.072000px;}
.h5{height:59.760000px;}
.h6{height:59.832000px;}
.h2{height:69.120000px;}
.h3{height:69.192000px;}
.h11{height:72.000000px;}
.h12{height:95.760000px;}
.hd{height:108.000000px;}
.he{height:108.072000px;}
.h4{height:131.832000px;}
.h7{height:144.000000px;}
.h1{height:216.072000px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x5{left:64.224000px;}
.x4{left:115.220000px;}
.x1{left:199.370000px;}
.x8{left:201.720000px;}
.x3{left:367.130000px;}
.x2{left:379.130000px;}
.x9{left:475.060000px;}
.x7{left:583.780000px;}
.x6{left:623.590000px;}
.xa{left:684.260000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._8{margin-left:-3116.983125pt;}
._7{margin-left:-15.239680pt;}
._0{margin-left:-6.914304pt;}
._6{margin-left:-3.824640pt;}
._1{margin-left:-1.843200pt;}
._3{width:1.406208pt;}
._5{width:2.818304pt;}
._2{width:4.177920pt;}
._4{width:5.774080pt;}
.fs9{font-size:64.000000pt;}
.fse{font-size:80.640000pt;}
.fsf{font-size:80.768000pt;}
.fs7{font-size:85.760000pt;}
.fs8{font-size:85.888000pt;}
.fsb{font-size:96.000000pt;}
.fsa{font-size:96.128000pt;}
.fs4{font-size:106.240000pt;}
.fs5{font-size:106.368000pt;}
.fs1{font-size:122.880000pt;}
.fs2{font-size:123.008000pt;}
.fs10{font-size:128.000000pt;}
.fs11{font-size:170.240000pt;}
.fsc{font-size:192.000000pt;}
.fsd{font-size:192.128000pt;}
.fs3{font-size:234.368000pt;}
.fs6{font-size:256.000000pt;}
.fs0{font-size:384.128000pt;}
.y0{bottom:0.000000pt;}
.y35{bottom:57.088000pt;}
.y34{bottom:84.288000pt;}
.y33{bottom:111.200000pt;}
.y1f{bottom:116.992000pt;}
.y32{bottom:138.400000pt;}
.y1e{bottom:145.826667pt;}
.y31{bottom:165.600000pt;}
.y1d{bottom:174.946667pt;}
.y30{bottom:192.826667pt;}
.y10{bottom:193.600000pt;}
.y1c{bottom:203.773333pt;}
.y2f{bottom:219.706667pt;}
.yf{bottom:223.680000pt;}
.y3{bottom:227.613333pt;}
.y1b{bottom:232.893333pt;}
.y2e{bottom:246.906667pt;}
.ye{bottom:253.786667pt;}
.y1a{bottom:261.693333pt;}
.y2{bottom:268.613333pt;}
.y2d{bottom:274.146667pt;}
.yd{bottom:283.866667pt;}
.y19{bottom:290.533333pt;}
.y2c{bottom:301.346667pt;}
.yc{bottom:313.986667pt;}
.y18{bottom:319.653333pt;}
.y2b{bottom:328.253333pt;}
.y1{bottom:338.786667pt;}
.yb{bottom:344.066667pt;}
.y17{bottom:348.480000pt;}
.y21{bottom:355.293333pt;}
.y2a{bottom:355.453333pt;}
.y16{bottom:377.600000pt;}
.y29{bottom:382.653333pt;}
.ya{bottom:390.173333pt;}
.y15{bottom:406.400000pt;}
.y28{bottom:409.893333pt;}
.y9{bottom:420.253333pt;}
.y23{bottom:426.586667pt;}
.y14{bottom:435.226667pt;}
.y27{bottom:436.773333pt;}
.y8{bottom:450.373333pt;}
.y3c{bottom:459.973333pt;}
.y3d{bottom:462.400000pt;}
.y13{bottom:464.346667pt;}
.y7{bottom:480.453333pt;}
.y26{bottom:491.586667pt;}
.y12{bottom:493.186667pt;}
.y6{bottom:510.533333pt;}
.y25{bottom:539.933333pt;}
.y5{bottom:540.640000pt;}
.y11{bottom:559.973333pt;}
.y3b{bottom:562.080000pt;}
.y3a{bottom:587.680000pt;}
.y24{bottom:588.293333pt;}
.y4{bottom:593.853333pt;}
.y39{bottom:613.306667pt;}
.y38{bottom:638.906667pt;}
.y20{bottom:657.413333pt;}
.y36{bottom:660.933333pt;}
.y37{bottom:664.546667pt;}
.y22{bottom:681.920000pt;}
.ha{height:48.000000pt;}
.hf{height:60.480000pt;}
.h10{height:60.576000pt;}
.h8{height:64.320000pt;}
.h9{height:64.416000pt;}
.hc{height:72.000000pt;}
.hb{height:72.096000pt;}
.h5{height:79.680000pt;}
.h6{height:79.776000pt;}
.h2{height:92.160000pt;}
.h3{height:92.256000pt;}
.h11{height:96.000000pt;}
.h12{height:127.680000pt;}
.hd{height:144.000000pt;}
.he{height:144.096000pt;}
.h4{height:175.776000pt;}
.h7{height:192.000000pt;}
.h1{height:288.096000pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x5{left:85.632000pt;}
.x4{left:153.626667pt;}
.x1{left:265.826667pt;}
.x8{left:268.960000pt;}
.x3{left:489.506667pt;}
.x2{left:505.506667pt;}
.x9{left:633.413333pt;}
.x7{left:778.373333pt;}
.x6{left:831.453333pt;}
.xa{left:912.346667pt;}
}
